POSTGRES_USER=kabana_user
POSTGRES_PASSWORD=kabana_pass
POSTGRES_DB=kabana_db
DATABASE_URL=postgresql+asyncpg://kabana_user:kabana_pass@db:5432/kabana_db
SYNC_DATABASE_URL=postgresql://kabana_user:kabana_pass@db:5432/kabana_db

PGADMIN_DEFAULT_EMAIL=admin@kabana.com
PGADMIN_DEFAULT_PASSWORD=admin

SECRET_KEY=change_this_to_a_very_secure_random_string_in_production
MEDIA_ROOT=/app/storage

SCRAPER_CONCURRENCY=20

FTP_ENABLED=True
FTP_HOST=ftp
FTP_PORT=21
FTP_USER=ftp_user
FTP_PASS=ftp_pass