storage/
media/
postgres_data/
ftp_data/
nginx/ssl/*.key
nginx/ssl/*.crt
nginx/ssl/*.pem

.idea/
.vscode/

.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.ruff_cache
*.log
*.db
books_data_backup.db
scraper.log
